---
import BentoCardHero from "@/components/ui/bento/BentoCardHero.astro";
import BentoCardStandard from "@/components/ui/bento/BentoCardStandard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="flex justify-center w-full">
		<div
			class="grid auto-rows-[275px] sm:auto-rows-[275px] lg:auto-rows-[180px] grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 gap-3 sm:gap-3 lg:gap-6 max-w-7xl p-4 sm:p-6 lg:p-8"
		>
			<BentoCardHero
				class="col-span-1 sm:col-span-3 lg:col-span-3 lg:row-span-3"
			>
				<div slot="header" class="flex flex-col gap-1">
					<p class="text-neutral-300">Hi, I'm Fraser.</p>
					<div class="flex items-center gap-2">
						<div
							class="w-2 h-2 bg-green-500 rounded-full animate-pulse"
						>
						</div>
						<span class="text-sm text-neutral-400">
							L2 Client Developer @ Switch Studios
						</span>
					</div>
				</div>

				<div slot="title">
					<h1 class="text-4xl text-neutral-300 leading-tight">
						Design-minded Software Engineer, crafting interactive
						experiences with an eye for player feel.
					</h1>
				</div>
			</BentoCardHero>

			<BentoCardStandard
				name="Lorem Ipsum 2"
				icon="code"
				description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
				href="#"
				cta="Learn more"
				class="col-span-1 sm:col-span-1 lg:col-span-1 lg:row-span-1"
			/>

			<BentoCardStandard
				name="Lorem Ipsum 3"
				icon="pencil-line"
				description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
				href="#"
				cta="Learn more"
				class="col-span-1 sm:col-span-1 lg:col-span-1 lg:row-span-3"
			/>

			<BentoCardStandard
				name="Lorem Ipsum 4"
				icon="trophy"
				description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
				href="#"
				cta="Learn more"
				class="col-span-1 sm:col-span-1 lg:col-span-1 lg:row-span-2"
			/>
		</div>
	</div>
</BaseLayout>
