---
interface Props {
	title: string;
	tagline?: string;
	align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<div class:list={[
	'flex flex-col gap-4 text-lg lg:text-xl',
	align === 'center' ? 'text-center' : 'lg:text-start'
]}>
	<div class="flex flex-col gap-2">
		<h1 class:list={[
			'text-3xl lg:text-5xl text-[var(--gray-0)] font-semibold',
			align === 'center' ? 'max-w-[37ch] mx-auto' : 'lg:max-w-none lg:mx-0'
		]}>
			{title}
		</h1>
		{tagline && (
			<p class:list={[
				align === 'center' ? 'max-w-[37ch] mx-auto' : 'lg:max-w-none lg:mx-0'
			]}>
				{tagline}
			</p>
		)}
	</div>
	<slot />
</div>
