---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

import Footer from "../components/Footer.astro";
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import { AuroraBackground } from "../components/ui/aurora-background";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<AuroraBackground client:load>
			<div class="stack content-wrapper">
				<Nav />
				<slot />
				<Footer />
			</div>
		</AuroraBackground>

		<script>
			// Add "loaded" class once the document has completely loaded.
			addEventListener("load", () =>
				document.documentElement.classList.add("loaded"),
			);
		</script>

		<style>
			.content-wrapper {
				position: relative;
				z-index: 10;
				width: 100%;
				min-height: 100vh;
			}
		</style>
	</body>
</html>
