---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
// Component Imports
import MainHead from "../components/MainHead.astro";
import { Background } from "../components/ui/Background";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<Background client:load>
			<div class="flex flex-col relative z-10 w-full min-h-screen">
				<Header />
				<slot />
				<Footer />
			</div>
		</Background>

		<script>
			// Add "loaded" class once the document has completely loaded.
			addEventListener("load", () =>
				document.documentElement.classList.add("loaded"),
			);
		</script>
	</body>
</html>
