name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
  lint-format-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Biome checks
        run: pnpm run check:ci

      - name: Build project
        run: pnpm run build
